Final Project Submission <br>
Student name: Qilun Chen, Evan Serrano<br>
Student pace: full time<br>
Scheduled project review date/time: April/1/2022<br>
Instructor name: Praveen Gowtham, Joe Comeaux<br>
Blog post URL:https://github.com/nkbuddy/dsc-phase-3-project-NBA

# STEP 1: Define the Problem

# Step 2: Gather the Data

# Step 3: Prepare Data for Consumption

## 3.1 Import Libraries

## 3.11 Load Data Modelling Libraries

## 3.2 Meet and Greet Data

### 3.21 The 4 C's of Data Cleaning: Correcting, Completing, Creating, and Converting

### 3.22 Clean Data

### 3.23 Convert Formats

### 3.24 Da-Double Check Cleaned Data

### 3.25 Split Training and Testing Data

# Step 4: Perform Exploratory Analysis with Statistics

# Step 5: Model Data

## 5.1 Evaluate Model Performance

### 5.11 Model Performance with Cross-Validation (CV)

### 5.12 Tune Model with Hyper-Parameters

### 5.13 Tune Model with Feature Selection

# Step 6: Validate and Implement

# Step 7: Optimize and Strategize

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy as sp
%matplotlib inline

df = pd.read_csv('shot_logs.csv')
df.head()

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.8,2,...,7.7,2,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,2,1,0:14,3.4,0,...,28.2,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,3,1,0:00,NaN,3,...,10.1,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148
3,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,4,2,11:47,10.3,2,...,17.2,2,missed,"Brown, Markel",203900,3.4,0,0,brian roberts,203148
4,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,5,2,10:34,10.9,2,...,3.7,2,missed,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128069 entries, 0 to 128068
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   GAME_ID                     128069 non-null  int64
 1   MATCHUP                     128069 non-null  object
 2   LOCATION                    128069 non-null  object
 3   W                           128069 non-null  object
 4   FINAL_MARGIN                128069 non-null  int64
 5   SHOT_NUMBER                 128069 non-null  int64
 6   PERIOD                      128069 non-null  int64
 7   GAME_CLOCK                  128069 non-null  object
 8   SHOT_CLOCK                  122502 non-null  float64
 9   DRIBBLES                    128069 non-null  int64
 10  TOUCH_TIME                  128069 non-null  float64
 11  SHOT_DIST                   128069 non-null  float64
 12  PTS_TYPE                    128069 non-null  int64
 13  SHOT_RESULT                 128069 non-null  object
 14  CLOSEST_DEFENDER            128069 non-null  object
 15  CLOSEST_DEFENDER_PLAYER_ID  128069 non-null  int64
 16  CLOSE_DEF_DIST              128069 non-null  float64
 17  FGM                         128069 non-null  int64
 18  PTS                         128069 non-null  int64
 19  player_name                 128069 non-null  object
 20  player_id                   128069 non-null  int64
dtypes: float64(4), int64(10), object(7)
memory usage: 20.5+ MB

In [24]:
df[['MATCHUP','LOCATION', 'W', 'GAME_CLOCK', 'CLOSEST_DEFENDER', 'player_name']].head()

,MATCHUP,LOCATION,W,GAME_CLOCK,CLOSEST_DEFENDER,player_name
0,"MAR 04, 2015 - CHA @ BKN",A,W,1:09,"Anderson, Alan",brian roberts
1,"MAR 04, 2015 - CHA @ BKN",A,W,0:14,"Bogdanovic, Bojan",brian roberts
2,"MAR 04, 2015 - CHA @ BKN",A,W,0:00,"Bogdanovic, Bojan",brian roberts
3,"MAR 04, 2015 - CHA @ BKN",A,W,11:47,"Brown, Markel",brian roberts
4,"MAR 04, 2015 - CHA @ BKN",A,W,10:34,"Young, Thaddeus",brian roberts